<%- include('header') %>

    <div class="mainContainer">
        <div class="selectDiv">
            <h1>Choose Your Chapter</h1>
            <p onclick="chapterOne()">Chapter-1</p>
            <p onclick="chapterTwo()">Chapter-2</p>
            <p onclick="chapterThree()">Chapter-3</p>
            <p onclick="chapterFour()">Chapter-4</p>
            <!-- <p>Chapter-5</p>
            <p>Chapter-6</p>
            <p>Chapter-7</p>
            <p>Chapter-8</p>
            <p>Chapter-9</p>
            <p>Chapter-10</p> -->
        </div>

        <div class="battleContainer">
            <form class="form" action="/" name="timeout" method="post">
                <div>
                    <textarea name="question" id="myQuestion" cols="20" rows="23" placeholder=' Paste your question here ...
                    or 
 Choose from the chapter at the left ... '></textarea>
                </div>
                <div>
                    <textarea  onclick="startTest()" id="ans" name="answer" id="" cols="20" rows="23"
                        placeholder="Start typing here ..."></textarea>
                </div>
                <div>
                    <button type="submit" onclick="submitResult()">Submit</button>
                </div>
            </form>
        </div>
        <div class="timeDiv">
            <p>Timer</p>
            <p id="Timer"></p>
            <!-- <button onclick="setYourTimer()">Set Timer</button> -->
            <!-- <button onclick="startTest()">Start Test</button> -->
        </div>
    </div>


    <%- include('footer') %>